{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Passwort Analyse</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<a href="/home/" class="menu-button">⬅️ Menü</a>

<div class="center-box">

    <h1>🔍 Passwort Analyse</h1>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="pw" placeholder="Passwort eingeben" required>
        <button type="submit">Analysieren</button>
    </form>

    {% if result %}
        <h2>Ergebnis:</h2>
        <p>{{ result|safe }}</p>
        <p>Punkte: {{ score }}/5</p>
    {% endif %}

</div>

</body>
</html>
